
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  padding: 40px 20px;
  background-color: #f5f5f5;
  min-height: 100vh;
}
